@use '../02-tools/breakpoint' as *;
@use '../02-tools/grid' as *;


.l-faq{
  
  .wrapper{
    
    @include device(sm){
      flex-direction: column;      
    }  
  }

  .content{
    width: grid(5);
    
    @include device(sm){
      text-align: center;
      width: auto;
    }  
  }

  .faq-list{
    width: grid(7);
    @include device(sm){
      width: auto;
    }
  }

  dl{
    div{
      background: #f6f6f6;
      padding: 1.5rem;
      cursor: pointer;
      border-bottom: 1px solid #EBEBEB;
      overflow-y: hidden;
    }
  }
  
  dt{
    display: grid;
    grid-template-columns: auto 24px;
    margin-bottom: 1rem;
    position: relative;
    gap: 2rem;

    &::after{
      background: no-repeat url("/source/icons/list/plus.svg");
      content:"";
      display: block;
      height: 24px;
      justify-self: flex-end;
      width: 24px;
    }
    &.pseudo-icon::after{
      background: no-repeat url("/source/icons/list/less.svg");
    }
  }
  dd{
    animation: topToBottom 1.5s ease;
    display: none;
  }
  
  .active{
    display: block;
  }
  
  @keyframes topToBottom {
    from{
      transform: translateY(80px);
      visibility: 0;
    }
    to{
      transform: translateY(0);
      visibility: 1;
    }
  }
}