@use '../02-tools/grid' as *;
@use '../02-tools/colors' as *;
@use '../02-tools/breakpoint' as *;

%pseudos{
  content: "";
  display: inline-block;
}

%breakpoints{
  @include device(sm){
    width: auto;
  }
}

.l-price{
  .wrapper{
    flex-direction: column;
  }

  header{
    width: grid(6);
    margin: 0 auto;
    margin-bottom: 2.5rem;
    
    @media screen and (max-width: 1089px){
      width: auto;
    }

    
    & + div {
      display: flex;
      gap: 2rem;
      @include device(sm){
        flex-direction: column;
      }
      @media screen and (min-width: 768px) and (max-width: 1089px){
        flex-wrap: wrap;
        ul.benefits{
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(2, 1fr);
          width: grid(12);
        }
      }
    }
  }

  .benefits{
    width: grid(4);
    
    @include device(sm){
      width: auto;
    }

    &__info {
      border: 1px solid rgb(235, 235, 235);
      background: transparentize(#fff, .6);

      & > .card-icon{
        $icon-size: 24px;
        width: $icon-size;
        height: $icon-size;
      }
    }

    &__card{
      & > div {
        align-items: center;
        display: flex;
        gap: 1rem;
      }
    }

    &__card:not(:last-child){
      margin-bottom: 2rem;
    }

    & > :nth-child(2){
      background: #fff;
      box-shadow: 0px 8px 16px 0px rgba(23, 0, 0, 0.04);
    }

  }

  .plano-anual,
  .plano-mensal{
    width: grid(4);
    background: #fff;
    
    @include device(sm){
      width: auto;
      align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1089px){
      flex: 1;
    }
    
    .preco-xxl{
      font-size: 80px;
      font-weight: bold;
      letter-spacing: -8px;
      display: inline-block;
      margin: 1rem 0;
    }
  }

  .plano-anual{
    position: relative;

    .plano-badge{
      left: -1rem;
      position: absolute;
      top: -1rem;
    }
  }

  .plano-list{
    margin-top: 2rem;

    &__item{
      align-items: center;
      display: flex;
      position: relative;
      
      
      &::before{
        $after-icon-size: 24px;
        @extend %pseudos;
        height: $after-icon-size;
        margin-right: 1rem;
        vertical-align: middle;
        width: $after-icon-size;
      }
      
      &--check::before{
        background: no-repeat url("../../source/icons/list/check.svg") center/ cover;
      }

      &--close{
        text-decoration: line-through;
      }

      &--close::before{
        background: no-repeat url("../../source/icons/list/close.svg") center/ cover;
      }
    
      &:not(:last-child){
        margin-bottom: 1rem;
      }

    }
  }

  .plano-footer{
    margin-top: 4rem;
  }


  .button{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
}