@use '../02-tools/grid' as *;
@use '../02-tools/colors' as *;
@use '../02-tools/breakpoint' as *;

%position-sticky{
  position: sticky;
  top: 80px;
}

.l-testimonials{

  .wrapper{
    @include device(md){
     flex-direction: column;   
    }

    & > section {
      width: grid(6);
      @include device(sm){
        width: auto
      }
      header{
        @extend %position-sticky;
        @include device(sm){
          text-align: center;
          .student-list{
            justify-content: center;
          }
        }
      }
    }

    & > :nth-child(2){
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  h2{
    margin-bottom: 2.5rem;
  }

  .testimonial{
    background: e-color(50);
    border: 1px solid #EBEBEB;
    @extend %position-sticky;
    

    .stars{
      font-size: 48px;
      line-height: 90%;
    }

    &__footer{
      background: e-color(150);
      border-top: inherit;
      img{
        $image-size: 64px;
        border-radius: 50%;
        height: $image-size;
        object-fit: cover;
        width: $image-size;
      }
    }
  }
}