@use '../01-settings/colors' as theColor;
@use '../01-settings/font' as font;
@use '../02-tools/colors' as *;

.button{
  cursor: pointer;
  display: inline-block;
  font: 600 1.125rem/ 24px font.$global-font-family, sans-serif;
  gap: 1rem;
  padding: 1rem 1.5rem;
  text-align: center;

  &--main{
    background: p-color(400);
    color: p-color(50);
    text-transform: uppercase;
  }

  &--menu{
    background: transparentize( #fff , .7);
     border: 1px solid p-color(50);
     color: p-color(50);
  }

  &-badge{
    background: transparentize(#F2C2C2, .7);
    display: block;
    padding: 4px .5rem;
    text-wrap: nowrap;
    width: fit-content;
  }
}